@import "../../variables";

.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.pink {
  background: #ffe0f0;
  color: #da4a91;
  font-size: 5rem;
}
.green {
  background: $clr-primary-10;
  color: $clr-primary-5;
}
.purple {
  background: #e6e6ff;
  color: #5d55fa;
}
.yellow {
  background: #fffbea;
  color: #f0b429;
}
